@font-face {
    font-family: "Manrope";
    src: url("assets/fonts/Manrope.woff2") format("woff2");
    font-weight: 100 900;   
}


@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    font-family: Manrope;
    margin: 0;
    padding: 0;
    @apply bg-neutral-100;
}